      <tr>
        <td><%= user.id %> </td>
        <td><%= user.firstname %> </td>
        <td><%= user.lastname %></td>
        <td><%= user.email %></td>
        <td><%= link_to "View", user_path(user) %></td>
        <td><%= link_to "Edit", edit_user_path(user) %></td>
        <% admin = Admin.where(user_id: user.id) %>
        <td><% if admin.empty? %>
            <%= link_to "Delete", user, method: :delete,
                          data: { confirm: "Confirm Account Deletion" } %>
          <% end %>
        </td>
      </tr>


