<li>
  <%= user.firstname %> <%= user.lastname %>, <%= user.email %> | <%= link_to "Edit", user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "Delete", user, method: :delete,
                  data: { confirm: "Confirm Account Deletion" } %>
  <% end %>
</li>