<header class="navbar navbar-inverse navbar-fixed-top ">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <%= link_to "MS Therapy Centre Lothian", root_path, id: "logo", class: "navbar-brand" %>
    </div>
    <nav>
      <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Info<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "About",    about_path %></li>
                  <li><%= link_to "Contact",  contact_path %></li>
                  <li><%= link_to "Help",     help_path %></li>
                </ul>
              </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Your Profile<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "View Information", current_user %></li>
              <li><%= link_to "Edit Information", edit_user_path(current_user) %></li>
            </ul>
          </li>
          <% if admin? %>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">User management<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "User List", users_path %></li>
                <li><%= link_to "Create user", users_new_path %></li>
              </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Resource management<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Resource list", resources_path %></li>
                <li><%= link_to "Create Resource", resources_new_path  %></li>
              </ul>
            </li>
          <% end %>
          <li><%= link_to "Log out", logout_path, method: :delete %> </li>
        <% else %>
          <li><%= link_to "About",    about_path %></li>
          <li><%= link_to "Contact",  contact_path %></li>
          <li><%= link_to "Help",     help_path %></li>
          <li><%= link_to "Signup",   users_new_path %></li>
          <li><%= link_to "Log in",   login_path %></li>
        <% end %>
      </ul>
      </div>
    </nav>
  </div>
</header>


